@import './config'
@import url(https://fonts.googleapis.com/css?family=Saira:100,200,300,400)
@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css)

*
  box-sizing: border-box

body
  font-family: 'NanumSquare', sans-serif
  font-weight: lighter