.header
  position: relative

  &-button-sidemenu
    width: 60px
    height: 60px
    border: none
    background: none
    position: absolute
    top: 0
    left: 20px
    cursor: pointer

  &-icon-bars
    color: #fff

  &-logo
    background: #fe836d
    height: 60px
    line-height: 60px
    text-align: center
    margin: 0
    color: #fff
    font-family: 'Saira', sans-serif
    font-weight: 200
    font-size: 26px

    &-button
      cursor: pointer
