.post-list-container
  margin-top: 170px

// photo 영역  

.post-list-photo-wrapper
  position: relative

.fa-camera
  color: $color-gray-icon
  font-size: 80px
  position: absolute
  top: 30%
  left: 41%

#post-add-photo
  border: none
  background: none
  width: 100%
  height: 300px
  cursor: pointer
  background-color: $color-main-post

.add-photo-text
  color: $color-gray-icon
  font-size: 30px
  font-weight: 200
  position: absolute
  top: 63%
  left: 32%



// diary 영역

.post-list-diary
  height: 300px
  background-color: $color-main-post 
  padding: 25px
  
  // post-list-diary-1
  .post-list-diary-1
    position: relative

  .fa-clock-o
    color: $color-foolog
    font-size: 16px

  .fa-map-marker
    color: $color-gray-icon
    background: none
    border: none
    font-size: 16px
    position: absolute
    top: 0
    right: 0
    cursor: pointer

    

  // post-list-diary-2  
  .post-add-text
    border: none
    margin-top: 25px
    width: 100%
    height: 140px
    padding-left: 8px
    line-height: 25px
    // background-color: $color-main-post 


  // post-list-diary-3 
  .post-list-diary-3  
    margin-top: 25px
    position: relative

    .diary-tags-food
      display: inline-block
      color: $color-gray-icon
      width: 100px
      margin-right: 35px
      color
      .food-evaluate
        margin: 10px 0 0 -8px
      .food-evaluate button
        color: $color-gray-icon
        cursor: pointer
        background: none
        border: none

    .diary-tags-taste
      display: inline-block
      color: $color-gray-icon
      width: 100px
      .taste-evaluate
        margin: 10px 0 0 -8px
      .taste-evaluate button
        color: $color-gray-icon
        cursor: pointer
        background: none
        border: none

    .diary-save
      display: inline-block
      position: absolute
      top: 0
      right: 0

    .diary-save-button
      width: 75px
      height: 30px
      color: #fff
      font-size: 18px
      font-weight: lighter
      cursor: pointer
      border: none
      border-radius: 3px
      background-color: $color-foolog

  .post-delete
    position: relative
    .post-delete-button
      width: 30px
      height: 30px
      border: none
      border-radius: 20px
      background: #fe836d
      color: #fff
      cursor: pointer
      font-size: 15px
      position: absolute
      top: -290px
      right: -40px
