.post-save-container
  margin-top: 130px
  // padding-top: 50px
  background-color: $color-main-post
  margin-bottom: 45px
  position: relative
  // height: 100%
  // padding-bottom: 20px

// photo 영역
.post-save-photo
  padding: 15px 10px 10px 10px
.post-save-photo img
  width: 100%

// diary 영역
.post-save-diary
  // height: 120%
  background-color: $color-main-post 
  padding: 20px
  width: 48%
  
// post-save-diary-1
.post-save-diary-1
  position: relative
  margin-top: 5px

.fa-clock-o
  color: $color-foolog

.fa-map-marker
  color: $color-gray-icon
  background: none
  border: none
  position: absolute
  top: 0
  right: 0
  cursor: pointer

// post-save-diary-2  
.post-save-diary-2
  margin-bottom: 35px

.post-save-text
  // position: relative
  // resize: none
  border: none
  margin: 20px 0 20px 0
  max-width: 100%
  // height: 285px
  padding: 5px 3px
  line-height: 22px
  z-index: 1200
  color: #666

// post-save-diary-3 
.post-save-diary-3
  position: absolute
  top: 100%
  left: 50%
  margin-top: -50px
  display: inline-block
  height: 50px

.save-tags-food
  // width: 100px
  display: inline-block
  color: $color-gray-icon
  margin-left: 22px
  // position: absolute
  // top: 100%
  // left: 50%
  // margin-top: -5%

.save-tags-food span
    
.tag-food
  font-weight: 200
  cursor: pointer
  border-radius: 30px
  color: #fff
  text-align: center
  width: 58px
  padding: 5px
  display: inline-block
  margin-left: 5px  

.tag-food.tag-food-korean
  background: #007bbb
  border: 1px solid #007bbb
  
.tag-food.tag-food-chinese
  background: #e83929
  border: 1px solid #e83929
  
.tag-food.tag-food-japanese
  background: #82ae46
  border: 1px solid #82ae46
  
.tag-food.tag-food-eastern
  background: #e6b422
  border: 1px solid #e6b422
  
.tag-food.tag-food-etc
  background: #824880
  border: 1px solid #824880
  
.save-tags-taste
  width: 150px
  display: inline-block
  margin-left: 10px  
  // position: absolute
  // top: 100%
  // left: 50%
  // margin-top: -5%
  // margin-left: 20%  
  color: $color-gray-icon
  span
    margin-left: 5px  
    

.tag-taste
  color: #000
  cursor: pointer
  background: none
  border: none

.save-share
  width: 150px
  display: inline-block
  margin-left: -90px
  // padding-top: 20px
  // position: absolute
  // top: 100%
  // left: 50%
  // margin-top: -5%
  // margin-left: 40%

.fb-share-button

.save-modify
  width: 60px
  display: inline-block
  margin-left: 20px
  // position: absolute
  // top: 100%
  // left: 50%
  // margin-top: -5%
  // margin-left: 60% 
  color: $color-gray-icon

.modify-button
  border: none
  background: none
  font-size: 15px
  color: $color-gray-icon
  cursor: pointer
  
.delete-button
  width: 30px
  height: 30px
  border: none
  border-radius: 20px
  background: #fe836d
  color: #fff
  cursor: pointer
  font-size: 15px
  position: absolute
  top: -13px
  right: -13px
