
.header-img img
  width: 100%

.slogan-group
  background: yellow
  margin: 0
  padding: 0
  position: relative

.slogan-love
  font-family: 'Saira', sans-serif
  font-weight: 200
  display: inline
  color: #fff

.slogan-write
  font-family: 'Saira', sans-serif
  font-weight: 300
  color: #fe836d
  // background: green
  // display: inline
.slogan-date
  color: #fff
  background: #fe836d
  display: inline-block
  padding: 0.4% 1.3%
 

// // write-group 영역
// .write-group
  
// .add-diary
//   // display: flex
//   // align-items: center
//   // justify-content: center
//   // flex-wrap: wrap

// .add-btn
//   background: none
//   border: none
//   color: #303030
//   font-weight: lighter
//   font-size: 28px
//   cursor: pointer

// .plus
//   font-size: 35px
//   color: #fe836d
//   // padding-right: 10px

// .plz-write
//   // position: relative
//   // margin-top: 50px

// .plz-write .fa
//   color: #d1d1d1

// .plz-text-1
//   font-size: 40px
//   // display: flex
//   // align-items: center 
//   // justify-content: center 
//   // flex-wrap: wrap 

// .highlight
//   color: #fe836d
//   font-size: 50px
//   font-weight: 300
//   line-height: 1.6   

// .plz-text-2
//   font-size: 40px
//   // display: flex
//   // align-items: center 
//   // justify-content: center 
//   // flex-wrap: wrap 

// .fa-quote-left
//   // position: absolute
//   // top: 20%
//   // left: 27%
//   // margin: -32px 0 0 -21px  

// .fa-quote-right
//   // position: absolute
//   // top: 88%
//   // right: 21%
//   // margin: -32px 0 0 -21px
