body{
  /* font-family: 'Ubuntu', sans-serif; */
  font-family: 'NanumSquare', sans-serif;
  font-weight: 300;
  font-style: normal;
  overflow: hidden; 
}
body, p{
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4,h5{
  padding: 0;
  margin: 0;
}

/* header 영역 */
.header{
  background-color: #fe836d;
  width: 100%;
  height: 60px;
  color: #fff;
}
.foolog-logo{
  font-weight: 300;
  padding-top: 12px;
  display: flex;
  justify-content: center; 
  align-items: center; 
  flex-wrap: wrap; 
}

/* video 영역 */
video{
  width: 100%;
}

/* main-content 영역 */
.main-content{
  width: 100%;
  position: absolute;
  top: 205px;
}
.foolog-slogan{
  color: #fff;
  text-align: center;  
  font-size: 50px;
  font-weight: 100;
  /* text-transform: uppercase; */
  display: flex;
  justify-content: center;
  padding: 20px;
}
.foolog-sub-slogan{
  color: #fff;  
  text-align: center;
  margin: 0 auto;
  width: 50%;
  padding-bottom: 15px;
}
.buttons{
  display: flex;
  justify-content: center;
}
.home-signup{
  font-size: 18px;
  background-color: #fe836d;
  border: none;
  border-radius: 3px;
  color: #fff;  
  width: 135px;
  height: 40px;
  margin: 15px;
  cursor: pointer;  
}
.home-signin{
  font-size: 18px;  
  background-color: #ffffff;  
  border: none;  
  border-radius: 3px;  
  color: #303030;  
  width: 135px;
  height: 40px;
  margin: 15px;
  cursor: pointer;  
}
